Flask==3.0.3
Flask-SocketIO==5.3.7
xmlschema==3.4.2
langchain==0.3.1
langchain-openai==0.2.1
websockets==13.1
langchain-chroma>=0.1.2
chromadb>=0.5.11
langgraph 
langchain-experimental 
langsmith 
pandas